:root{          

--cor-de-fundo:rgb(0, 0, 0);
--cor-da-fonte: rgb(255, 255, 255);
--cor-fonte-titulos:#ffffff;
--cor-de-fundo-cabecalho: var(--cor-de-fundo);






} 
body{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,255,4,1) 84%);
    height: 100vh ;
    }
h1{
background-color:rgb(0, 0, 0);

}
.cabecalho_menu-hamburguer{
width: 24px; 
height: 24px;
display:inline-block ;
background-image:url ('imagens/Menu.svg');
background-repeat:no-repeat;
background-position:center;

}

.cabecalho{

    background-color:var(--branco);
display:flex;
justify-content:space-between;
}

.container{

display:flex ;
justify-content:space-between ;

align-items: center;


}




.container_imagem{

padding: lem;

}
















